.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.dirt {
  display: grid;
  grid-template-columns: 20% 40% 40%;
}

.dirtNumbers {
  grid-column: 1;
}

.dirtNumbers > div {
  margin: 7px;
}

.dirtX {
  grid-column: 2;
  margin: 5px;
}

.dirtY {
  grid-column: 3;
  margin: 5px;
}